body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #212842;
}
.box {
    border: 1px solid rgb(255, 255, 255);
    padding: 2.2em;
    border-radius: 2%;
    background-color: #ffffff;
    box-shadow: 5px 10px 13px rgba(255, 255, 255, 0.3);
    background-color: #f0e7d5;
}
textarea {
    width:300px;
    height:50px;
}